
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montagu+Slab:opsz,wght@16..144,100;16..144,200;16..144,300;16..144,400;16..144,500;16..144,600;16..144,700&family=Open+Sans:wght@400;700;800&display=swap');

body{
    font-family: Lato;
}
*{
    margin: 0px;
    padding: 0px;
}
/* <!-- header section start --> */
.header-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    background: rgba(229, 84, 115, 0.10);
  }
.header-leftpart{
    padding: 197px 0px 147px 150px;
}
.header-title{
    color: #272727;
font-size: 68px;
font-weight: 800;
}
.header-discription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.primary-btn{
    color: #FFF;
font-size: 20px;
font-weight: 700;
padding: 20px 43px 20px 43px;
border-radius: 8px;
background: #E55473;
border: 0px;
}
.header-photo{
    width: 540px;
    height: 659px;
    
}
.header-rightpart{
    padding-right: 100px;
    padding-top: 50px;

}
/* main section start */
.Featured-Flowers{
    text-align: center;
}
.FeaturedFlowers-title{
    color: #272727;
text-align: center;
font-size: 34px;
font-weight: 800;
padding-top: 170px;
padding-bottom: 24px;
}
.FeaturedFlowers-discription{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding-bottom: 48px;
}
/* three flower tree section */
.threeimg-container{
    display: flex;
    gap: 25px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 128px;
    
}
.flowerphotobg-one{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
width: 350px;
height: 450px;
}
.flowerphotobg-two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
width: 350px;
height: 450px;
}
.flowerphotobg-three{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
width: 350px;
height: 450px;
}
.photo-one{
    padding-top: 98px;
    width: 255px;
    padding-left: 30px;
 
}
.threetitle{
    text-align: center;
    padding-top: 32px;

}
.photo-two{
    padding-top: 98px;
    width: 300px;
    padding-left: 30px;
}
.photo-three{
    padding-top: 67px;
    width: 255px;
    padding-left: 30px;
}
.contact{
    background-image: url('../images/gradient2.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 1140px;
    height: 300px;
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 128px;
}
.probad-bakko{
    padding-bottom: 24px;
}
/* Hot Deal ! Sale Up To 25% Off section styles */
.hotdeal-container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 150px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 125px;
    height: 500px;
    align-items: center;
}
.htodeal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 25px;
}
.hotdeal-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.signup-btn{
    text-align: center;
    margin-top: 32px;
}
.htodeal-special{
    color: #E55473;

}
/* Instagram section styles */
.instagram-container{
    text-align: center;
    
}
.insta-title{
    color: #272727;
text-align: center;
font-size: 34px;
font-weight: 800;
padding-bottom: 24px;

}
.insta-discription{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding-bottom: 48px;
}

/* four image set section styles */
.fourimg-setcontainer{
    display: flex;
    gap: 18px;
    margin-bottom: 128px;
    justify-content: center;
}
.four-flower{
    width: 270px;
    height: 335px;

}

/* Get The Latest Deals section styles */
.latestdeal-container{
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 1140px;
    height: 420px;
    margin-top: 40px;
    margin-bottom: 130px;
    
}
.latestdeal-title{
    
    text-align: center;
    color: #272727;
font-size: 40px;
font-weight: 800;
padding-top: 125px;
padding-bottom: 15px;
}
.latestdeal-discription{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding-bottom: 30px;
}
.lastdeal-inputbtn{
    text-align: center;
   
}
.latestdeal-inputbox{
    padding: 23px 380px 22px 22px;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 16px;
font-weight: 400;
border-radius: 8px;
background: #FFF;
border: 0px;
margin-right: 10px;

}
 /* footer section styles */
 .footer-container{
    width: 100%;
    height: 480px;
    background: #111010;
    
 }
 .footer-title{
    color: #E55473;
text-align: center;
font-size: 48px;
font-weight: 800;
padding-top: 128px;

 }
 .footer-discription{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding-top: 24px;
 }
 .footertitle-part{
    color: #FFFFFF;
 }
 .footer-last{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
padding-top: 32px;
}